{% extends 'base.html' %}

{% block title %} {{ cur_post.title }} {% endblock %}

{% block content %}

<div class="container p-5">
    <div class="row">

        <!-- TITLE -->
        <div class="col-12">
            <h1 class="fw-bold m-0">{{ cur_post.title}}</h1>
            <div class="text-secondary lead">
                <small>{{ cur_post.author.username }}</small>,
                <small>{{ cur_post.date_post.strftime('%Y-%m-%d') }}</small>
            </div>
        </div>

        <div class="col-12">
            <p class='fw-light' style="white-space: pre-line;">
                {{ cur_post.content }}
            </p>
        </div>

        <div class="col-12 border-top mt-3">
            <form action="{{ url_for('post', num=cur_post.id) }}" method="post" novalidate>
                {{ form.csrf_token }}

                {{ form.comment_text(placeholder=form.comment_text.label.text, class='form-control mt-4',
                autocomplete="off", style='resize: none;')}}

                <div class="d-flex align-items-center">
                {{ form.submit(class='btn btn-outline-success mt-2 me-2') }}
                {% for errors in form.submit.errors %}
                    <small class="form-text text-danger ">
                        {{ errors }}
                    </small>
                {% endfor %}
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}