{% extends "base.html" %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}
<div class="container p-5">
    <div class="row">

        <!-- PROFILE INFORMATION-->
        <div class="col-12 border-bottom pb-4 pt-4">
            <div class="row g-3">

                <div class="col-md-6 fs-4 fw-light p-0">
                    <span class="text-secondary">Имя профиля: </span>
                    <span>{{ user.username }}</span>
                </div>

                <div class="col-md-6 fs-4 fw-light p-0">
                    <span class="text-secondary">Почта: </span>
                    <span>{{ user.email }}</span>
                </div>

                <div class="col-md-6 fs-4 fw-light p-0">
                    <span class="text-secondary">Дата регистрации: </span>
                    <span>{{ user.registration_date }}</span>
                </div>

                <div class="col-md-6 fs-4 fw-light p-0">
                <a href="#"><button type="button" class="btn btn-outline-success">Изменить профиль</button></a>
                </div>
            </div>
        </div>

        <!-- ACTIVITY INFO-->
        <div class="col-12 pt-4">
            <div class="row">

                <div class="col-md-6 p-0 text-md-center text-start">
                    <h3 class="text-secondary fw-light">Мои посты</h3>
                    <div class="row g-3">

                        <!--POST TITLE-->
                        {% for post in user.posts %}
                        <div class="col-12 d-flex align-items-center justify-content-between bg-light py-2 px-4">
                                <div>
                                    <h4 class="fw-light m-0">{{ post.title }}</h4>
                                </div>
                                <div>
                                    <span class="fw-light text-secondary">{{ post.date_post.strftime('%Y-%m-%d') }}, {{ post.date_post.strftime('%H:%M:%S') }}</span>
                                </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-md-6 p-0 text-md-center text-start">
                    <h3 class="text-secondary fw-light">Мои комментарии</h3>
                    <div class="row">

                        <div class="col-12"></div>
                        <div class="col-12"></div>
                        <div class="col-12"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}