{% extends "base.html" %}

{% block title %} Ваш пост {% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('write_post') }}" method="post" novalidate>
    <div class="row p-5 g-4">
        {{ form.csrf_token }}

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="col-md-2 m-0" style="height: auto;"></div>
        <div class="col-md-10 m-0">
            <!-- FLASH MESSAGE-->
                <div class="alert alert-{{ cat }} m-0" style="width: 100%;">{{ msg }}</div>
        </div>
        {% endfor %}



        <!-- TITLE FIELD -->
        <div class="col-md-2 d-flex justify-content-md-end justify-content-start">
            {{ form.title.label(class="text-secondary lead") }}
        </div>
        <div class="col-md-10">
            {{ form.title(class="form-control") }}
            {% if form.title.errors %}
            {% for errors in form.title.errors %}
                <small class="form-text text-danger ">
                    {{ errors }}
                </small>
            {% endfor %}
            {% endif %}
        </div>

        <!-- TEXT FIELD -->
        <div class="col-md-2 d-flex justify-content-md-end justify-content-start">
            {{ form.text.label(class="text-secondary lead") }}
        </div>
        <div class="col-md-10">
            {{ form.text(class="form-control") }}
            {% if form.text.errors %}
            {% for errors in form.text.errors %}
                <small class="form-text text-danger ">
                    {{ errors }}
                </small>
            {% endfor %}
            {% endif %}
        </div>

        <!--SUBMIT-->
        <div class="col-md-2"></div>
        <div class="col-md-10">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>

    </div>
    </form>
</div>
{% endblock %}